* {
    margin: 0;
    padding: 0;
}
#app {
    display: flex;
    justify-content: center;
    background: white;
}

/* MAIN BODY */
.main-container {
    background: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    position: relative;
}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer {

}

/* HEADER ELEMENTS */

.header-image {
    height: 150px;
    display: flex;
    justify-content: space-around
}
.header-image-text {
    color: #4dc6f1;
    /*color: #71a8bc;*/
    line-height: 150px;
    font-size: 50px;
    font-weight: bold;
}
.header-menu {
    height: 40px;
}
.header-menu-list {
    background: rgba(0, 0, 0, 0.85);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    line-height: 39px;
    font-size: 13px;
    font-weight: 900;
    color: #4dc6f1;
    text-transform: uppercase;

}
.header-menu-list-elements:nth-child(1) {
    margin-left: 200px;
}

.header-menu-list-elements:nth-child(4) {
    margin-right: 200px;
}

/* BODY ELEMENTS */

.body-project {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 50px 70px 50px 70px;
}

.body-project > div {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}

.project-hr {
    margin-top: 20px;
    color: #4dc6f1;
}

.body-project:nth-of-type(2n) {
    align-self: flex-end;
}
.body-project:nth-of-type(2n) > div {
   flex-direction: row-reverse;
}

.body-project-image {
    height: 300px;
    width: 300px;
}
.body-project-text {
    /*background: rgba(0, 0, 0, 0.85);*/
    color: black;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.body-project-text > div:nth-child(1) {
    font-size: 34px;
}

.body-project-text > div:nth-child(2) {
    padding: 0 20px 0 20px;
}

.body-project-text > div:nth-child(3) {
    font-size: 11px;
}

/* Project Icons */

.image1 {
    height: 300px;
    width: 300px;
    background: white url("../../images/questionicon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.image2 {
    height: 300px;
    width: 300px;
    background: white url("../../images/questionicon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.image3 {
    height: 300px;
    width: 300px;
    background: white url("../../images/questionicon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.image4 {
    height: 300px;
    width: 300px;
    background: white url("../../images/questionicon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* FOOTER ELEMENTS*/